
  <!-- custom-head start -->
  <link type="application/atom+xml" rel="alternate" href="{{ '/feed.xml' | relative_url }}" title="{{ site.title | escape }}">
  <link type="application/json" rel="alternate" href="{{ '/feed.json' | relative_url }}" title="{{ site.title | escape }}">
  <link rel="Shortcut Icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
  <title>{% if page.title %}{{ page.title | append: " • " | append: site.title | escape }}{% else %}{{ site.title | append: " • " | append: site.description | escape }}{% endif %}</title>
    
{%- if paginator.previous_page -%}
  <link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}">
{%- endif -%}
{%- if paginator.next_page -%}
  <link rel="next" href="{{ paginator.next_page_path | absolute_url }}">
{%- endif -%}

{%- include custom-seo.html -%}

{%- include custom-reframe.html -%}

  <!-- custom-head end -->
