<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableHeartBeatTimer', 2]);
    _paq.push(['enableLinkTracking']);
    (function() {
    var u='{{ site.piwik.url }}';
    _paq.push(['setTrackerUrl', u+'p.php']);
    _paq.push(['setSiteId', {{ site.piwik.site_id }}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'p.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
