  <script>
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableHeartBeatTimer', 2]);
    _paq.push(['enableLinkTracking']);
    (function() {
    var u='{{ site.piwik.url }}';
    _paq.push(['setTrackerUrl', u+'p.php']);
    _paq.push(['setSiteId', {{ site.piwik.site_id }}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.defer=true; g.src=u+'p.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>

  <script>
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(101044326);
    (function() {
      var d=document, s=d.createElement('script');
      s.async = true; s.defer=true; s.src = 'https://static.getclicky.com/js';
      ( d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0] ).appendChild( s );
    })();
  </script>
