@media screen and (min-width: 600px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        border: 1px solid #e8e8e8;
        background-color: #fdfdfd;
    }

    .site-nav label[for="nav-trigger"] {
        display: block;
    }

    .site-nav .menu-icon {
        display: block;
    }

    .site-nav input ~ .trigger {
        display: none;
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px;
    }

    .site-nav .page-link:not(:last-child) {
        margin-right: 0;
    }

}
