---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

@media screen and (min-width: 600px) {
    .site-nav {
      position: absolute;
      float: none;
      border: 1px solid #e8e8e8;
      background-color: #fdfdfd;
    }

    .site-nav label[for="nav-trigger"] {
        display:block
    }

    .site-nav .menu-icon {
        display: block;
    }

    .site-nav input ~ .trigger {
        display:block
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left:20px
    }

    .site-nav .page-link:not(:last-child) {
        margin-right:0
    }
}

