---
---

@import "{{ site.theme }}";

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	margin-bottom: 1.75em;
	max-width: 100%;
	vertical-align: middle;
}

figure img { margin: 0 auto; }
figcaption { text-align: center; }

.social-media-list .icon { padding-right: 8px; }

/* Custom CSS based on Minima */
.footer-col-1,
.footer-col-2,
.footer-col-3 { width: calc(100% - (30px / 2)); }

/* >= 440px (440/16) */
@media screen and (min-width: 27.5em) {
  .footer-col-1 { width: calc(35% - (30px / 2)); }
  .footer-col-2 { width: calc(65% - (30px / 2)); }
//  .footer-col-1 { width: calc(30% - (30px / 2)); }
//  .footer-col-2 { width: calc(35% - (30px / 2)); }
//  .footer-col-3 { width: calc(100% - (30px / 2)); }
}

/* >= 670px (670/16) */
@media screen and (min-width: 41.875em) {
  .footer-col-1 { width: calc(35% - (30px / 2)); }
  .footer-col-2 { width: calc(65% - (30px / 2)); }
//  .footer-col-1 { width: calc(25% - (30px / 2)); }
//  .footer-col-2 { width: calc(28% - (30px / 2)); }
//  .footer-col-3 { width: calc(47% - (30px / 2)); }
}
